@{
    var nameForm = "editForm";

    var ctrlAs = "eVm";
    var NAME = "product".ControllerAs(ctrlAs);

    var goodId = Html.GetName<Good>(m => m.GoodId);
    var nameRu = Html.GetName<Good>(m => m.GoodNameRu);
    var nameEn = Html.GetName<Good>(m => m.GoodNameEn);
    var price = Html.GetName<Good>(m => m.PriceUsd);
    var discount = Html.GetName<Good>(m => m.Discount);

    var typeId = Html.GetName<Category>(m => m.TypeId);
    var categoryId = Html.GetName<Good>(m => m.CategoryId);

    //var typeCategory = Html.GetName<CategoryType>(m => m.TypeNameEn);
    //var nameCategory = Html.GetName<CategoryName>(m => m.CategoryNameEn);

    var predicate = "{0}&&editForm.{0}.$invalid";

    var nameRuPredicate = predicate.F(nameRu);
    var nameEnPredicate = predicate.F(nameEn);
    var pricePredicate = predicate.F(price);
    var discountPredicate = predicate.F(discount);
    //for az-suggest-box
    //type
    var types = "types".ControllerAs("gVm");
    var selectType = "select.type".ControllerAs(ctrlAs);
    //category
    var ifExists = "select.type[0]".ControllerAs(ctrlAs);
    var categories = "select.type[0].category".ControllerAs(ctrlAs);
    var selectCategory = "select.category".ControllerAs(ctrlAs);
    var observer = "select.type[0].id".ControllerAs(ctrlAs);
}
<form method="POST" class="form-horizontal" role="form" novalidate name="@nameForm" id="@nameForm" ng-submit="submit()"
      ng-if="@NAME">
    @Html.AntiForgeryToken()
    @*Good Id*@
    <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label"><b>ID:</b>&nbsp;{{@NAME.@goodId}}</label>
        </div>
    </div>
    @*Name good ru*@
    <div class="form-group" ng-init="@NAME&nbsp;.blurs('@nameRu')">
        <div class="col-sm-12">
            <label class="control-label">Name good ru</label>
        </div>
        <div class="col-sm-12">
            <input type="text"
                   class="form-control"
                   id="@nameRu"
                   placeholder="Name"
                   name="@nameRu"
                   ng-model="@NAME.@nameRu"
                   ng-blur="@nameRu=true"
                   ng-required="true"
                   ng-class="@nameRuPredicate?'custom-invalid':'custom-valid'">
        </div>
        <div class="col-sm-12 errro-input"
             ng-class="@nameRuPredicate?'custom-invalid':'custom-valid'"
             ng-cloak>
            <span ng-show="@nameRuPredicate">the name does not correct</span>
        </div>
    </div>
    @*Name good en*@
    <div class="form-group" ng-init="blurs('@nameEn')">
        <div class="col-sm-12">
            <label class="control-label">Name good en</label>
        </div>
        <div class="col-sm-12">
            <input type="text"
                   class="form-control"
                   id="@nameEn"
                   placeholder="Name"
                   name="@nameEn"
                   ng-model="@NAME.@nameEn"
                   ng-blur="@nameEn=true"
                   ng-required="true"
                   ng-class="@nameEnPredicate?'custom-invalid':'custom-valid'">
        </div>
        <div class="col-sm-12 errro-input"
             ng-class="@nameEnPredicate?'custom-invalid':'custom-valid'"
             ng-cloak>
            <span ng-show="@nameEnPredicate">the name does not correct</span>
        </div>
    </div>
    @*Price*@
    <div class="form-group" ng-init="blurs('@price')">
        <div class="col-sm-12">
            <label class="control-label">price usd</label>
        </div>
        <div class="col-sm-12">
            <input type="number"
                   class="form-control"
                   id="@price"
                   placeholder="Name"
                   name="@price"
                   ng-model="@NAME.@price"
                   ng-blur="@price=true"
                   min="1"
                   ng-required="true"
                   ng-class="@pricePredicate?'custom-invalid':'custom-valid'">
        </div>
    </div>
    @*Discount*@
    <div class="form-group" ng-init="blurs('@discount')">
        <div class="col-sm-12">
            <label class="control-label">Discount</label>
        </div>
        <div class="col-sm-12">
            <input type="number"
                   class="form-control"
                   id="@discount"
                   placeholder="Name"
                   name="@discount"
                   ng-model="@NAME.@discount"
                   ng-blur="@discount=true"
                   min="0"
                   max="99"
                   ng-required="true"
                   ng-class="@discountPredicate?'custom-invalid':'custom-valid'">
        </div>
    </div>
    @*Type*@

    <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label">Type</label>
        </div>
        <div class="col-sm-12">
            <div az-suggest-box
                 sb-list="@types"
                 sb-model-selected="@selectType"
                 sb-select-item-by-id="@NAME.@typeId"
                 sb-key-id="id"
                 observer="@types"
                 sb-selected-list-item-class="sb-list-item-checked"
                 sb-close-list-on-select="true"
                 sb-select-first-list-item="false"
                 sb-not-remove-current="true"
                 sb-max-selection="1"
                 class="suggest-box sort-by text-left" ng-cloak>
                <div sb-trigger-area class="select">
                    <div class="input">
                        <div sb-selection-item>{{s.name}}</div>
                    </div>
                    <button><i class="fa fa-chevron-down"></i></button>
                </div>
                <ul class="dropdown">
                    <li sb-dropdown-item class="item">{{i.name}}</li>
                </ul>
            </div>
        </div>
    </div>

    @*Category*@
    <div class="form-group">
        <div class="col-sm-12">
            <label class="control-label">Category</label>
        </div>
        <div class="col-sm-12">
            <div az-suggest-box ng-if="@ifExists"
                 sb-list="@categories"
                 sb-model-selected="@selectCategory"
                 sb-select-item-by-id="@NAME.@categoryId"
                 sb-key-id="categoryId"
                 observer="@observer"
                 sb-selected-list-item-class="sb-list-item-checked"
                 sb-close-list-on-select="true"
                 sb-select-first-list-item="false"
                 sb-not-remove-current="true"
                 sb-max-selection="1"
                 class="suggest-box sort-by text-left" ng-cloak>
                <div sb-trigger-area class="select">
                    <div class="input">
                        <div sb-selection-item>{{s.categoryNameEn}}</div>
                    </div>
                    <button><i class="fa fa-chevron-down"></i></button>
                </div>
                <ul class="dropdown">
                    <li sb-dropdown-item class="item">{{i.categoryNameEn}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12 text-right">
            <button class="btn btn-primary streth" type="submit" ng-disabled="!@nameForm.$valid">Ok</button>
        </div>
    </div>

</form>
