@using System.Threading
@{
    var symbol = Thread.CurrentThread.CurrentUICulture.NumberFormat.CurrencySymbol;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/layoutCss")
    @Scripts.Render("~/bundles/base")

    
</head>
<body ng-app="globalApp" ng-controller="globalCtrl" ng-init="initSymbol('@symbol')">
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':false, 'animation-class': 'toast-top-right'}"></toaster-container>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "Main")">
                    <img src="/Image/title.png" alt="fashion form-angular fashion" />
                </a>
            </div>
            @Html.Action("NavBar", "Main")
        </div>
    </div>
    <div class="body-content">
        <section>
            @RenderBody()
        </section>
        <footer>
            @Html.Partial("Footer/_Footer")
        </footer>
    </div>
    <div id="up">
        <div class="btn btn-primary"><span class="glyphicon glyphicon-arrow-up"></span></div>
    </div>

    @Scripts.Render("~/bundles/layoutJs")
    @RenderSection("scripts", required: false)
</body>
</html>
